<div class="titles">
  <h1 class="title">LogIn:</h1>
</div>

<form (submit)="login($event)">
  <div class="maincontainer">
    <div class="inputs">
      <input type="text" autocomplete="off" placeholder="Username" id="username">
    </div>
    <div class="inputs">
      <input type="password" autocomplete="off" placeholder="Password" id="password">
    </div>
    <div>
      <!-- <button><a routerLink="/home">Submit</a></button> -->
      <button type="submit">Submit</button>
    </div>
    <div *ngIf="error">{{error}}</div>
</div>
</form>